*
{
	display: block;
	margin: 0;
	padding: 0;
}
body
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #191919;
}
#container
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	width: 900px;
	height: 100%;

}

#videoSection
{
	height: 416px;
	width: 416px;
}

#controlPanel
{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}