<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Welcome to tracking page!</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url('styles/main-style.css') }}">
	</head>
	<body>
        <section id="container">
        	<div id="videoSection">
        		<video src="" autoplay id="videoElement"></video>
        		<div class="cssload-container">
					<div class="cssload-whirlpool"></div>
				</div>
        	</div>
            <div id="controlPanel">

				<section id="upload-file-controlPanel">
					<section class="titles">
						<div id="upload-title">Upload file</div>
					</section>
					<form method="post" action="/upload" enctype="multipart/form-data" class="content" id="upload-form">
						<input id="upload-file" name="file" type="file" value="Choose file" class="active">
						<label for="upload-file" id="upload-file-button" class="unselected-file">
							<span id="upload-file-text">Choose file</span>
						</label>
						<input id="submit-file" type="submit" value="Submit" class="inactive" disabled>
					</form>
				</section>
            </div>
        </section>
	</body>
	<script type="text/javascript" src="{{ static_url('scripts/main-app.js') }}"></script>
</html>